:root {
  --swiper-theme-color: black;
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  /*--swiper-pagination-top: 45px*/
}

.swiper-pagination {
  position: unset;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

html, body {
  height: auto;
  min-height: 100dvh;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  /*background-color: #F2F3F5;*/
  position: relative;
  padding-bottom: env(safe-area-inset-bottom);
}

@supports not (min-height: 100dvh) {
  html, body {
    min-height: 100vh;
  }
}

* {
  box-sizing: border-box;
}
